body {
  background-image: url("./images/bgg.jpg");

  color: black;
  font-family: "Montserrat, sans-serif";
}

.container-fluid {
  padding: 3% 15% 7%;
}

.title-img-div {
  padding-top: 18%;
}

.title-heading {
  font-family: "Montserrat, sans-serif";
  font-size: 4.5rem;
  line-height: 1.5;
  font-weight: 900;
  padding-top: 50%;
}

p {
  font-family: "Montserrat, sans-serif";
}

h2 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Download-Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Back Button */

.back-button {
  margin-top: 2%;
  margin-left: 2%;
}

/* Footer-Section */

#footer {
background-color: white;
 text-align: center;
  color: white;
}

.footer-icons {
  padding-top: 5%;
  padding-bottom: 15px;
}

.social-icon {
  margin-right: 20px;
}

.footer-para {
  padding-bottom: 5%;
  font-family: "Montserrat";
  font-size: 1.2rem;
}
